@import url('https://fonts.googleapis.com/css2?family=Galada&family=Handlee&family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jockey+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+IT+Moderna:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');
*{
    border:0;
    margin: 0;
    padding: 0;
    font-family:"Josefin Sans", sans-serif;
    box-sizing: border-box; 
}
:root{
    --low-text-color:#9495A5;
    --text-color:#494C6B;
    --text-rod-text:#D1D2DA;
    --border-color:#E3E4F1;
    --gap-checklist:1.2rem;
    --linear-box:linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
    --text-color-hover:#3A7CFD;
}
html{
    font-size:10px;
}
body{
    width: 100vw;
    height: 100vh;
}
.herosection{
    width: 100%;
    height: 20rem;
    background-image: url(../images/herosection.png);
    background-size: cover;
    background-repeat: no-repeat;
}
   
nav{
    width: 100%;
    height: 20rem;
    background: linear-gradient(225deg, #5596FF 0%, #AC2DEB 100%);
    opacity: 0.8;
}
nav>div{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 4.4rem;
    padding-bottom: 3rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
nav>div>span{
    font-weight: 700;
    font-size: 2.4rem;
    color:white;
}
nav>div>img{
    width: 2rem;
    height: 2rem;
}
.checkbox{
    padding: 0 2.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.checkbox_first{
    background-color: white;
    width: 100%;
    display: flex;
    gap: var(--gap-checklist);
    padding:1.4rem 2rem;
    border-radius: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
}

.circle_border{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background-color:var(--border-color);
    padding:0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle_border:hover{
    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
}
.circle{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
.memory{
    width: 80%;
    outline: none;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--low-text-color);
    border-radius: 0.3rem;
}
.checkbox_body{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 35px 50px -15px #C2C3D680;

}
.checkbox_body>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.6rem 2rem;
}
.circle_text{
    display: flex;
    gap: 1.2rem;
    align-items: center;
}
.rod_text{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
}
.cross{
    opacity: 0;
}
hr{
    width: 100%;
    height: 0.1rem;
    background-color: var(--border-color);
}
.counter_container{
    justify-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.6rem 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--low-text-color);
    flex-wrap: wrap;
}
.counter{
    display: flex;
    gap: 0.1rem;
    align-items: center;
    justify-content: center;
}

.checkbox_last{
    background-color: white;
    width: 100%;
    display: flex;
    gap: var(--gap-checklist);
    padding:1.5rem 0rem;
    border-radius: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 35px 50px -15px #C2C3D680;

}

a{
    text-decoration: none;
}

.checkbox_last_text{
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--low-text-color);
}

.checkbox_last_text:hover{
    color: var(--text-color-hover); 
}
.text_footer{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--low-text-color);
    text-align: center;
    margin-top: 4rem;
}



